<div class="jumbotron bg-aqua text-center">
    <h1 class="display-4">Corona Tracker</h1>
    <p class="lead">All donated funds are managed transparently on OpenCollective and will be used solely for compensating work and expenses for contributors. Valor Software employees and contractors are not eligible to use these funds.</p>
    <hr class="my-4">
    <p>All donated funds are managed transparently on OpenCollective and will be used solely for compensating work and expenses for contributors. Valor Software employees and contractors are not eligible to use these funds.</p>
</div>